{% extends 'base.html' %}

{% block content %}
    {% include 'back_home_arrow.html' %}
    {% include 'user_metric/new_user_metric_partial.html' %}
    {% for user_metric in user_metrics %}
        <div class="small-card">
            <div class="card-head">
                <a href="{{ url_for('metric.index', user_metric_id=user_metric.id) }}">
                    {{ user_metric.name }}<br>
                </a>
            </div>
            <div class="card-body">
                {{ user_metric.description }}
            </div>
        </div>
    {% endfor %}
{% endblock %}
