<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/pico.min.css') }}"
          media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"
          media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ url_for('static', filename='flavicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='flavicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='flavicon/favicon-16x16.png') }}">

    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="{{ url_for('core.index') }}" class="brand-logo"><strong>Daxplr</strong></a></li>
    </ul>
    <ul class="menu">
        {% if user_profile %}
            <li><a href="{{ url_for('physio.index') }}">Physio</a></li>
            <li><a href="{{ url_for('note.index') }}">Notes</a></li>
            <li><a href="{{ url_for('event.index') }}">Events</a></li>
            <li><a href="{{ url_for('user.index') }}"><span class="material-icons">account_box</span></a></li>
        {% else %}
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
        {% endif %}
    </ul>
</nav>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="flash">
                <article class={{ category }}>
                    <span>{{ message }}</span>
                </article>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<main class="container">
    {% block content %} {% endblock %}
</main>
</body>
</html>