{% extends 'base.html' %}

{% block content %}

    <article>
        <p>Welcome to Budget Desk - the platform for managing data</p>
    </article>
    <div class="grid">
        <article class="monzo">
            <header>Monzo</header>
            <ul>
                <li><a href="{{ url_for('core.schedule_monzo_sync') }}" role="button"><i class="material-icons left">schedule</i>Schedule
                    Monzo Transactions Sync</a></li>
                <li><a href="{{ url_for('core.sync_transactions') }}" role="button"><i
                        class="material-icons left">sync</i>Sync Monzo Transactions</a></li>
                <li><a href="{{ url_for('core.login_monzo') }}" role="button"><i
                        class="material-icons left">lock_open</i>Login</a></li>
                <li><a href="{{ url_for('core.logout_monzo') }}" role="button"><i class="material-icons left">lock</i>Logout</a>
                </li>
            </ul>
        </article>
        <article>
            <header>Blood Pressure Reading</header>
            <form action={{ url_for('core.blood_pressure') }}>
                <div class="grid">
                    <label for="systolic">
                        Systolic
                        <input type="number" name="systolic" id="systolic" placeholder=120 required>
                    </label>
                    <label for="diastolic">
                        Diastolic
                        <input type=number name="diastolic" id="diastolic" placeholder="70" required>
                    </label>
                    <label for="heart-rate">
                        Heart Rate
                        <input type=number name="heart-rate" id="heart-rate" placeholder=60 required>
                    </label>
                </div>
                <label for="last-activity">
                    Last Activity
                    <input type=text name="last-activity" id="last-activity" placeholder="run">
                    <small>Should be less than 1 hour before measurement</small>
                </label>
                <button type="submit">Submit</button>
            </form>
        </article>
    </div>
{% endblock %}
