{% extends 'base.html' %}

{% block content %}
    <article>
        <div class="grid">
            <a href="https://grafana.daxplr.com" role="button">grafana</a>
            <a href="https://influx.daxplr.com" role="button">influx</a>
        </div>
    </article>
    <div class="grid">
        <article class="monzo">
            <header>Monzo</header>
            <ul>
                <li><a href="{{ url_for('monzo.schedule') }}" role="button"><i class="material-icons left">schedule</i>Schedule</a>
                </li>
                <li><a href="{{ url_for('monzo.sync') }}" role="button"><i class="material-icons left">sync</i>Sync All
                    Transactions</a></li>
                <li><a href="{{ url_for('monzo.login') }}" role="button"><i class="material-icons left">lock_open</i>Login</a>
                </li>
                <li><a href="{{ url_for('monzo.logout') }}" role="button"><i class="material-icons left">lock</i>Logout</a>
                </li>
            </ul>
        </article>
        <article>
            <header>Blood Pressure Reading</header>
            <form action="{{ url_for('physio.blood_pressure') }}" method="post">
                <div class="grid">
                    <label for="systolic">
                        Systolic
                        <input type="number" name="systolic" id="systolic" placeholder=120 required>
                    </label>
                    <label for="diastolic">
                        Diastolic
                        <input type=number name="diastolic" id="diastolic" placeholder="70" required>
                    </label>
                    <label for="heart-rate">
                        Heart Rate
                        <input type=number name="heart-rate" id="heart-rate" placeholder=60 required>
                    </label>
                </div>
                <label for="last-activity">
                    Last Activity
                    <input type=text name="last-activity" id="last-activity" placeholder="run">
                    <small>Should be less than 1 hour before measurement</small>
                </label>
                <button type="submit">Submit</button>
            </form>
        </article>
    </div>
    <article>
        <header>Event</header>
        <form action="{{ url_for('core.event') }}" method="post">
            <label for="title">
                Title
                <input type="text" name="title" id="title" placeholder="What happened?" required>
            </label>
            <label for="description">
                Description
                <input type="text" name="description" id="description">
            </label>
            <label for="tags">
                Tags
                <input type="text" name="tags" id="tags">
                <small>Comma separated list of tags</small>
            </label>
            <div class="grid">
                <label for="start-time">
                    Start Time
                    <input type="datetime-local" name="start-time" id="start-time" placeholder=120 required>
                </label>
                <label for="end-time">
                    End time
                    <input type="datetime-local" name="end-time" id="end-time" required>
                </label>
            </div>
            <button type="submit">Submit</button>
        </form>
    </article>
{% endblock %}
