#map {
    height: 500px;
}

#note-map {
    height: 500px;
}

:root {
    --primary-alt1: #487676;
    --detail-color-dark: #0f2b38;
    --error-color: #740b1d;
    --success-color: #337c36;
    --font-size-larger: 1.2em;
}

nav .brand-logo {
    font-size: 1.5em;
    padding-left: 10px;
}

nav .material-icons {
    font-size: 1.8em;
}

.btn {
    margin-right: 10px;
}

.DateRangePicker_picker {
    z-index: 2;
}

div.input-field input[type=text] {
    padding-left: 10px;
}

main.container {
    padding: 0;
}

nav {
    padding: 15px;
}

article {
    margin: 10px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: var(--primary);
    border-radius: 25px;
    display: inline-block;
}

/* Article list*/

.head {
    padding: 10px;
    color: var(--primary);
}


.article-container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-left-style: solid;
    border-left-color: var(--primary);
    margin-left: 5px;
}

article.list {
    margin: 0;
    padding: 10px;
    border: 1px solid var(--muted-border-color);
    border-radius: 0;
}

article.list .body {
    font-size: 1.3em;
    font-weight: 300;
}

article.list .labels {
    font-size: 0.84em;
    padding-top: 5px;
    color: var(--secondary);
}

article.list:hover {
    background-color: var(--muted-border-color);
}

article.list .labels .label {
    margin-right: 10px;
}

article.list .labels .key {
    font-weight: 700;
}

article.list .labels .value {
    font-weight: 400;
}

article.list span.summary {
    float: right;
    font-size: 0.95em;
}

/* end article list */

a.brand-logo {
    color: var(--contrast);
    font-weight: bolder;
}

div.flash article {
    margin-bottom: 10px;
    width: 50%;
}

div.flash article.success {
    background-color: var(--success-color);
}

div.flash article.error {
    background-color: var(--error-color);
}

article.monzo ul li {
    list-style-type: none;
}

article.monzo a {
    width: 90%;
    text-align: left;
}

article.links a {
    margin: 5px;
}

article ul.data-list li {
    list-style-type: none;
}

.material-icons {
    vertical-align: middle;
    margin-right: 10px;
}

.content-nav a i {
    font-size: 48px;
}

.content-nav a i {
    font-size: 48px;
}

article .control-nav.right {
    width: 100%;
    border-bottom-style: none;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: right;
}

details.control-nav .right {
    font-size: 0.9em;
    text-align: right;
}

details.control-nav summary::after {
    background-image: none;
}

.card {
    padding: 10px;
    border-style: solid;
    border-width: 0;
    margin-bottom: 10px;
    box-shadow: 0 1px 5px var(--secondary);
}

.card .card-value {
    margin-top: 5px;
    margin-bottom: 10px;
}

.card .card-value span {
    padding: 5px;
}

article.data {
    padding: 15px;
}

article.data .content {
    font-size: 1.3em;
    padding: 10px;
    margin-bottom: 10px;
}

article.data .labels {
    font-size: 0.8em;
}

.data .labels span {
    background-color: var(--detail-color-dark);
    box-shadow: 0 1px 3px var(--contrast-inverse);
    padding: 10px;
    margin: 2px;
    border-radius: 25px;
    white-space: nowrap;
    line-height: 3.2;
}

article.data .secondary-content {
    padding: 0 10px 10px;
}

article.data .secondary-content span:not(:last-child) {
    border-right: 1px solid var(--secondary);
    padding-right: 5px;
}

article.data .footer {
    padding: 20px 10px 10px;
    color: var(--secondary);
    font-size: 0.8em;
}

article.announcement {
    text-align: center;
}

article.announcement .message {
    padding: 10px;
}

.data-container .legend {
    text-align: right;
    padding: 10px;
    color: var(--primary-alt1);
    text-transform: capitalize;
    font-size: 0.8em;
}

.chart {
    margin-top: 30px;
    margin-bottom: 30px;
}

.floating {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.small-card {
    padding: 5px;
    margin: 10px;
    margin-top: 10px;
    border-bottom-style: solid;
    border-bottom-color: #384856;
}

.small-card .card-head {
    font-size: var(--font-size-larger);
}
