nav .brand-logo {
    padding-left: 10px;
}

.btn {
    margin-right: 10px;
}

.DateRangePicker_picker {
    z-index: 2;
}

div.input-field input[type=text] {
    padding-left: 10px;
}

main.container {
    padding: 0;
}

nav {
    padding: 15px;
}

article {
    margin: 10px;
}

a.brand-logo {
    color: #fafffb;
    font-weight: bolder;
}

div.flash article {
    margin-bottom: 10px;
    width: 50%;
}

div.flash article.success {
    background-color: #337c36;
}

div.flash article span.error {
    color: #a24b4b;
}

article.monzo ul li {
    list-style-type: none;
}

article.monzo a {
    width: 90%;
    text-align: left;
}

article a {
    margin: 5px;
}

.material-icons {
    vertical-align: middle;
    margin-right: 10px;
}

.content-nav a i {
    font-size: 48px;
}

.content-nav a i {
    font-size: 48px;
}

article .control-nav {
    font-size: 48px;
    padding: 10px;
    width: 100%;
    text-align: center;
}

details.control-nav summary::after {
    background-image: none;
}

.card {
    padding: 10px;
    border-style: solid;
    border-width: 0;
    margin-bottom: 10px;
    box-shadow: 0 1px 5px #424649;
}

.card .card-value {
    margin-top: 5px;
    margin-bottom: 10px;
}

.card .card-value span {
    padding: 5px;
}

article.data {
    padding: 15px;
}

article.data .content {
    font-size: 1.3em;
    padding: 10px;
    margin-bottom: 10px;
}

article.data .labels {
    font-size: 0.8em;
}

article.data .labels span {
    background-color: #0f2b38;
    box-shadow: 0 1px 3px #0b0f12;
    padding: 10px;
    margin: 2px;
    border-radius: 25px;
    white-space: nowrap;
    line-height: 3.2;
}

article.data .footer {
    padding: 20px 10px 10px;
    color: #878787;
    font-size: 0.8em;
}

article.announcement {
    text-align: center;
}

article.announcement .message {
    padding: 10px;
}

.data-container {
    margin-bottom: 50px;
}

.data-container .legend {
    text-align: right;
    padding: 10px;
    color: #487676;
    text-transform: capitalize;
    font-size: 0.8em;
}