<script>
    const data = {
        datasets: [
            {
                label: 'happiness',
                backgroundColor: 'rgb(174,255,133)',
                borderColor: 'rgb(174,255,133)',
                data: [
                    {% for note in notes|reverse %}
                        {% if note.sentiment.happiness %}
                            {
                                x: '{{ note.note.created_at|format_label_datetime }}',
                                y: {{ note.sentiment.happiness }}
                            },
                        {% endif %}
                    {% endfor %}
                ],
            },
            {
                label: 'creativity',
                backgroundColor: 'rgb(131,52,234)',
                borderColor: 'rgb(131,52,234)',
                hidden: true,
                data: [
                    {% for note in notes|reverse %}
                        {% if note.sentiment.creativity %}
                            {
                                x: '{{ note.note.created_at|format_label_datetime }}',
                                y: {{ note.sentiment.creativity }}
                            },
                        {% endif %}
                    {% endfor %}
                ],
            },
            {
                label: 'stress',
                backgroundColor: 'rgb(162,75,75)',
                borderColor: 'rgb(162,75,75)',
                data: [
                    {% for note in notes|reverse %}
                        {% if note.sentiment.stress %}
                            {
                                x: '{{ note.note.created_at|format_label_datetime }}',
                                y: {{ note.sentiment.stress }}
                            },
                        {% endif %}
                    {% endfor %}
                ],
            },
            {
                label: 'energy',
                backgroundColor: 'rgb(255,137,137)',
                borderColor: 'rgb(255,137,137)',
                hidden: true,
                data: [
                    {% for note in notes|reverse %}
                        {% if note.sentiment.energy %}
                            {
                                x: '{{ note.note.created_at|format_label_datetime }}',
                                y: {{ note.sentiment.energy }}
                            },
                        {% endif %}
                    {% endfor %}
                ],
            },
            {
                label: 'sad',
                backgroundColor: 'rgb(137,184,255)',
                borderColor: 'rgb(137,184,255)',
                hidden: true,
                data: [
                    {% for note in notes|reverse %}
                        {% if note.sentiment.sad %}
                            {
                                x: '{{ note.note.created_at|format_label_datetime }}',
                                y: {{ note.sentiment.sad }}
                            },
                        {% endif %}
                    {% endfor %}
                ],
            },
            {
                label: 'anxiety',
                backgroundColor: 'rgb(13,85,243)',
                borderColor: 'rgb(13,85,243)',
                data: [
                    {% for note in notes|reverse %}
                        {% if note.sentiment.anxiety %}
                            {
                                x: '{{ note.note.created_at|format_label_datetime }}',
                                y: {{ note.sentiment.anxiety }}
                            },
                        {% endif %}
                    {% endfor %}
                ],
            }
        ]
    };

    const config = {
        type: 'line',
        data: data,
        options: {}
    };

    const noteSentimentChart = new Chart(
        document.getElementById('noteSentimentChart'),
        config
    );
</script>