{% for event in events %}
    <article class="data">
        <div class="content">{{ event.body }}</div>
        <div class="labels">
            {% if event.activity %}
                <span>activity: {{ event.activity }}</span>
            {% endif %}
            {% if event.duration %}
                <span>duration: {{ event.duration }}</span>
            {% endif %}
            {% if event.feel %}
                <span>feel: {{ event.feel }}</span>
            {% endif %}
        </div>
        <div class="footer">{{ event.time|format_datetime }}</div>
    </article>
{% endfor %}