{% for event in events %}
    <article class="data">
        <div class="content">{{ event.body }}</div>
        <div class="labels">
            {% if event.activity %}
                <span>activity: {{ event.activity }}</span>
            {% endif %}
            {% if event.duration %}
                <span>duration: {{ event.duration }}</span>
            {% endif %}
            {% if event.feel %}
                <span>feel: {{ event.feel }}</span>
            {% endif %}
        </div>
        <div class="footer">
            {{ event.time|format_datetime }}
            <details class="control-nav right">
                <summary>
                    <span class="control-nav right material-icons">settings</span>
                </summary>
                <a href="{{ url_for('event.edit', id=event.id) }}">edit</a> |
                <a href="{{ url_for('event.delete', id=event.id) }}">delete</a>
            </details>
        </div>
    </article>
{% endfor %}