{% extends 'base.html' %}

{% block content %}
    {% include 'back_home_arrow.html' %}
    <article class="links">
        <div class="grid">
            <a href="https://grafana.daxplr.com" role="button">grafana</a>
            <a href="https://influx.daxplr.com" role="button">influx</a>
        </div>
    </article>
    <div class="grid">
        <article class="monzo">
            <header>Monzo</header>
            <ul>
                <li><a href="{{ url_for('monzo.schedule') }}" role="button"><i class="material-icons left">schedule</i>Schedule</a>
                </li>
                <li><a href="{{ url_for('monzo.sync') }}" role="button"><i class="material-icons left">sync</i>Sync All
                    Transactions</a></li>
                <li><a href="{{ url_for('monzo.login') }}" role="button"><i class="material-icons left">lock_open</i>Login</a>
                </li>
                <li><a href="{{ url_for('monzo.logout') }}" role="button"><i class="material-icons left">lock</i>Logout</a>
                </li>
            </ul>
        </article>
    </div>
{% endblock %}
