<form action="{{ url_for('metric.new') }}" method="post">
    <input type="hidden" id="metric-name" name="metric-name" value="alcohol_units">

    <div class="grid">
        <label for="value">
            <input type="number" name="value" id="value" placeholder="Value" required>
        </label>
        <label for="event">
            <input type=text name="event" id="event" placeholder="Event">
        </label>
    </div>
    <label for="time">
        <input type="datetime-local" name="time" id="time">
        <small>Time (Optional)</small>
    </label>
    <button type="submit">Submit</button>

    <details>
        <summary>Understand units</summary>
        <table>
            <thead>
            <tr>
                <th scope="col">drink</th>
                <th scope="col">unit</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>small beer 3300ml</td>
                <td>1.5</td>
            </tr>
            <tr>
                <td>average pint</td>
                <td>3</td>
            </tr>
            <tr>
                <td>small glass of wine, 125ml</td>
                <td>1.5</td>
            </tr>
            <tr>
                <td>Single small shot of spirits* (25ml, ABV 40%)</td>
                <td>1</td>
            </tr>
            </tbody>
        </table>
    </details>
</form>
