<div>
    <canvas id="myChart"></canvas>
</div>

<script>
    const data = {
        datasets: [
            {
                label: 'systolic',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [
                    {% for reading in bp_readings %}
                        {x: '{{ reading.created_at }}', y: {{ reading.systolic }}},
                    {% endfor %}
                ],
            },
            {
                label: 'diastolic',
                backgroundColor: 'rgb(131,52,234)',
                borderColor: 'rgb(131,52,234)',
                data: [
                    {% for reading in bp_readings %}
                        {x: '{{ reading.created_at }}', y: {{ reading.diastolic }}},
                    {% endfor %}
                ],
            },
            {
                label: 'heart_rate',
                backgroundColor: 'rgb(208,62,62)',
                borderColor: 'rgb(208,62,62)',
                data: [
                    {% for reading in bp_readings %}
                        {x: '{{ reading.created_at }}', y: {{ reading.heart_rate }}},
                    {% endfor %}
                ],
            }
        ]
    };

    const config = {
        type: 'line',
        data: data,
        options: {}
    };

    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
</script>